# Core functionality - changes here should be rare!
/src/app.py                   @EeroTolvanen
/src/backend/database.py      @EeroTolvanen
/src/backend/routers/auth.py  @EeroTolvanen

# The frontend will need refactored soon to be more object oriented.
/src/static/   @EeroTolvanen
